.jimu-widget-themesgallery .esriBasemapGalleryNode:hover{
  color: #51B1FE;
}

.jimu-widget-themesgallery .esriBasemapGalleryThumbnail {
  border: 1px solid #fff; 
  margin: 1px; 
  -moz-box-shadow: 0px 0px 0px #000; 
  -webkit-box-shadow: 0px 0px 0px #000; 
  box-shadow:  0px 0px 7px #000;
}
.jimu-widget-themesgallery .esriBasemapGallerySelectedNode{
  /*background-color: #D9DDE0;*/
  color: #51B1FE;
}
.jimu-widget-themesgallery .esriBasemapGallerySelectedNode .esriBasemapGalleryLabelContainer{
  /*background-color: #D9DDE0;*/
}
.jimu-widget-themesgallery .esriBasemapGalleryNode{
  width: 85px;
}
.jimu-widget-themesgallery .esriBasemapGalleryThumbnail{
  width: 84px;
  height: 67px;
}
.jimu-widget-themesgallery .esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{
  border-color: #51B1FE !important; 
}

.jimu-widget-themesgallery .esriBasemapGalleryNode {
  width: 85px;
  margin: 5px 10px 0 10px;
}

.jimu-widget-themesgallery .esriBasemapGalleryThumbnail {
  display: block;
  margin: 1px auto;
}