/* jimu-widget-themeSwitcher-setting */
.jimu-widget-themeSwitcher-setting{
	margin:0;
  padding:0;
  font-size:14px;
  color: #596679;
}

.jimu-widget-themeSwitcher-setting .setting-table > thead > tr > th,
.jimu-widget-themeSwitcher-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.jimu-widget-themeSwitcher-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: right;
  padding-right:15px;
  min-width: 200px;
}

.jimu-widget-themeSwitcher-setting .input-table > tbody > tr > .second{
  width:650px;
}
